In [3]:
from sklearn.datasets import load_diabetes
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score
from sklearn.linear_model import Ridge

In [4]:
data = load_diabetes()
df = pd.DataFrame(data.data, columns=data.feature_names)
df['Target'] = data.target

In [5]:
df.sample(5)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,Target
416,-0.027310,-0.044642,0.080019,0.098751,-0.002945,0.018101,-0.017629,0.003312,-0.029526,0.036201,257.0
421,0.038076,0.050680,0.016428,0.021872,0.039710,0.045032,-0.043401,0.071210,0.049770,0.015491,212.0
67,0.041708,0.050680,-0.014828,-0.017135,-0.005697,0.008394,-0.013948,-0.001854,-0.011897,0.003064,97.0
99,-0.001882,-0.044642,-0.064408,0.011544,0.027326,0.037517,-0.013948,0.034309,0.011785,-0.054925,83.0
264,0.034443,0.050680,0.028284,-0.033213,-0.045599,-0.009769,-0.050764,-0.002592,-0.059471,-0.021788,145.0